h1, h2 {
  font-family: Lato;
}

 body {
  background-color: rgb(58, 194, 17);
  }

div.descripcion{
  background-color:orange;
  color:black;
  text-align:justify;
  font-weight: bold;
}

div.protagonistas{
  color :rgb(45, 144, 224);
  font-size: 13px;
}

ul.protagonistas{
  color :aliceblue;
  font-size: 12px;
}