 body {
  background-color: rgb(58, 194, 17);
  color:white;
  font-family: times;
  }
h2,h4,img-center {
  text-align: center;
}

h4 {
  text-decoration: underline;
  color:rgb(7, 7, 82);
}
div.descripcion{
  background-color:orange;
  color:black;
  text-align:justify;
  font-weight: bold;
   
}

div.fichaTecnica{
  background-color:darkred;
  color :orange;
  font-size: 13px;
  font-family: tahoma;
}
ul {
  list-style-type:square;
}
ul.fichaTecnica{
  color:white;
  font-size: 12px;
}
div.copyright{
  background-color:white;
  color :black;
  font-size: 13px;
  font-family: tahoma;
}